/* ForgotPassword.css */

.forgot-password-container {
   
    width: 350px;
    padding: 20px;
    height: 480px;
    padding: 20px;
     border: 1px solid #ddd; 
    border-radius: 8px;
    margin-top: 50px;
     background-color: #fffbfb; 
    border-radius: 8px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3); 
  }
  
  

  .message {
    color: #d9534f;
    margin-top: -65px;
    margin-right: 230px;
  }
  


  .custom-toast{

    margin-top: 30px;
    margin-right: 690px;
  }
  .form-control::placeholder {
    color: rgb(36, 35, 35); 
    font-size: 17px;
    font-weight: 540;
    font-family: 'Roboto','Arial', sans-serif; 
  }

  @media only screen and (min-width: 769px) and (max-width: 992px) {
    body {
      font-size: 18px;
    }
  }
  
  
  @media only screen and (min-width: 993px) {
    body {
      font-size: 15px;
    }
  }